doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title pug-sass-gulp-project
        link(href="./css/style.css" rel="stylesheet")
        script(src="./js/scripts.js")
    body
        h1 h1
        h2 h2
        h3 h3
        p paragragh
        ul
            li 1
            li 2
            li 3